form{
    padding: 1em;
}

  input.radio{
      width: 10px;
      margin-right: 3px;
      margin-left: 0px;
    
  }

  
#bus_unidad{
    width: 60%;
    height: 30px;
}
input#bus_unidad{
    width: 45%;
}

#btn_nuevoCargo{
    width: 150px;
    height: 30px;
    font: bold;
    color: white;
    background: #3b3c54;
    border-radius: 4px;    
    margin-left: 3PX;
    margin-right: 3PX;
}
#btn_Reporte{
    width: 180px;
    height: 30px;
    font: bold;
    color: white;
    background: #3b3c54;
    border-radius: 4px;    
    margin-left: 3PX;
    margin-right: 3PX;
}


/*Modal----------*/

#detalles{
    width: 80px;
    height: 30px;
    font: bold;    
    background: #9cbbac;
    border-radius: 4px;
    border: none;
}
#editar, #pagos{
    width: 80px;
    height: 30px;
    font: bold;    
    background: #c2d4bb;
    border-radius: 4px;    
    border: none;
}
#eliminar{
    width: 80px;
    height: 30px;
    font: bold;
    color: white;
    background: #fa743d;
    border-radius: 4px;   
    border: none; 
}

.mod-cancelar{
    width: 100px;
    height: 30px;
    font: bold;
    background: #c2d4bb;
    border-radius: 3px;  
    border: none;
}

.mod-guardar{
    width: 100px;
    height: 30px;
    font: bold;
    color: white;
    background: #3b3c54;
    border-radius: 3px;  
    border: none;
}